

body{
    background-color: black;
    color:white;
    text-align: center;
}

h1 {
    color:green;
    font-style:solid;
    border:solid;
    
}

p{
    color:white;
    font-style: oblique;
    font-size:30px;
   
}

#Intro{
    margin:100px ;
    text-align: justify;
    padding-left: 250px;
    padding-right: 250px;
}

#lista{
    text-align: left;
    font-size: large;
    width: 500px;
    margin-left: 450px;
    
   


}

#cocodrilos{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
   
   
}

ul{
    color:purple;
    text-align: left;
}

#millones{
    color:gray;
    font-style: solid;
    font-family: 'Courier New', Courier, monospace;
}

#imagen{
    color: aliceblue;
    font: size 10px;
    ;
}

#Nilo{
    width: 300px; height: 200px;
    
}

#Americano{
    width: 300px; height: 200px;
    
}

#Australiano{
    width: 300px; height: 200px;
    
}

#Siames{
    width: 300px; height: 200px;
    
}

#Juancho{
    width: 300px; height: 200px;

}


